{% set stats = collector.stats %}
{# Set cache status to green  if misses is below 1 and total hits is below 20 (with remote Redis 20 cache lookups can take 50-100ms) #}
{% set status_cache = stats.misses > 100 ? 'red' : (stats.hits > 100 ? 'yellow' : (stats.misses < 1  and stats.hits < 20 ? 'green' : '')) %}

<div class="sf-toolbar-info-piece">
    <b>SPI Persistence/Cache</b>
</div>
<div class="sf-toolbar-info-piece">
    <b>uncached calls</b> <span class="sf-toolbar-status sf-toolbar-status-{{ stats.calls > 10 ? 'yellow' : (stats.calls < 2 ? 'green' : '') }}">{{ stats.calls }}</span>
</div>
<div class="sf-toolbar-info-piece">
    <b>misses / hits / memory</b> <span class="sf-toolbar-status sf-toolbar-status-{{ status_cache }}">{{ stats.misses }} / {{ stats.hits }} / {{ stats.memory }}</span>
</div>
<div class="sf-toolbar-info-piece">
    <b>uncached handlers</b> <span class="sf-toolbar-status sf-toolbar-status-{{ collector.handlerscount > 1 ? '' : 'green' }}">{{ collector.handlerscount }}</span>
</div>
